@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Source+Sans+Pro&display=swap');
.nav-container{
    position: fixed;
    background-color:#0e4675;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    top: 0;
}
.nav-items a{
    text-decoration: none;
}
.nav-item{
    list-style-type: none;
    padding: 0.3rem;
    text-align: center;
    margin-top: 1.5rem;
    color: #eee;
    transition: all ease 0.6s;
    font-size: 0.8rem;
    font-family: 'Prompt', sans-serif;
}
.menu-icon{
    display: none;
}
.nav-item:hover .fa{
    color: #0e4675;
}
.nav-item:hover{
    background-color: #eee;
    color: #0e4675;
}
.fa{
    display: block;
    padding: 0.3rem;
    font-size: 1.2rem;
    color: #eee;
}

@media screen and (min-width:768px) {
    .fa{
        padding: 0.5rem;
        font-size: 2rem;
    }
    .nav-item{
        padding: 0.5rem;
        font-size: 1rem;
    }
}
