@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
.log-container{
    background-color: #98f898;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.log-inp-container{
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: #fdffb6;
    border-radius: 10px;
    width: 50vw;
}
.log-item{
    padding: 3%;
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid black;
}
.log-head{
    margin-top: 1%;
    font-family: 'Prompt', sans-serif;
    font-size: 3vw;
}
.opt-container{
    display: flex;
    flex-direction: row;
}
.opt{
    padding: 3%;
    margin-top: 3%;
    font-family: 'Signika', sans-serif;
    font-size: 1.5vw;
}
.reg-txt{
    margin-left: 25vw;
    color: #0e4675;
}
.login-btn{
    background-color: #0e4675;
    color: #eee;
    width: 30%;
    border: none;
    transition: all 0.6s ease;
}
.login-btn:hover{
    background-color: transparent;
    color: #0e4675;
    border: 1px solid #0e4675;
}
.log-no-err{
    display: none;
}
.log-err{
    display: block;
    color: red;
    margin-top: 2%;
    font-size: 1.1vw;
}